@model List<ExternalWebsite2.Models.StebraEntity>

@{
    ViewBag.Title = "Home Page";
}

<div class="container text-center">
    <img class="img-responsive" src="~/images/newsFlash.png" />
    <p class="titles">Ångande färska nyheter från Stebra Consulting </p>
</div>


<!-- Previous snippet -->

@*
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-12">
                <h2>@item.Title</h2>
                <p><i>@item.Date @Html.Raw(item.Article)</i></p>
                <p>
                    @Html.Raw(item.Body)
                </p>
                <p>@Html.ActionLink("Link to Article", "Nyheter", new { title = @item.Title.Replace(" ", "-") })</p>
            </div>
        }
    </div>
*@


<!-- Current snippet -->

<div class="row">
    @foreach (var item in Model)
    {
        <div class="container-fluid">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="col-lg-12">
                        <h2>@item.Title</h2>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Temporary jQuery solution to minify all img tags is located in App.js -->
                        <p>@Html.Raw(item.Body)</p>

                        <p>@Html.ActionLink("Link to Article", "Nyheter", new { id = UrlManager.MakeURLFriendly(@item.Title) })</p>
                        <p><i>@item.Date @Html.Raw(item.Article)</i></p>


                        <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
                        <script type="IN/Share" data-url="https://www.google.se" data-counter="right">
                        </script>

                    </div>
                </div>
            </div>
        </div>
    }
</div>